@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  padding: 10px 20px;
}

.navbar .logo {
  margin-right: auto; /* Логотип слева */
}

.menu-container {
  flex-grow: 1; /* Растягиваем контейнер меню на всю оставшуюся ширину */
  text-align: center; /* Выравниваем содержимое по центру */
}

.navbar ul {
  display: inline-flex; /* Меню в одну строку */
  list-style-type: none;
  font-weight: bold;
  font-size: 30px;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

.navbar a:hover {
  text-decoration: underline;
  transform: all 0.2s ease;
  color: gray;
  filter: brightness(1.1);
}

.navbar .login {
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  padding: 5px 10px;
}

.main {
  position: relative;
  height: 91vh; /* Высота всей секции на весь экран */
  width: 100%;
  display: flex;
  overflow: hidden;
}

/* Фоновое изображение */
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1; /* Помещаем фоновое изображение ниже */
}

.bg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Масштабируем изображение, сохраняя пропорции */
}

.uzor-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2; /* Узор выше фона */
}

.overlay {
  position: relative;
  z-index: 3; /* Текст на переднем плане */
  text-align: left;
  color: black;
  top: 242px;
  left: 632px;
  padding: 20px;
}

.title {
  font-size: 30px;
}

.text {
  font-size: 20px;
  max-width: 700px;
  margin: 18px auto;
}

.subtitle {
  text-align: left;
  margin: 72px auto;
  border: 0px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: bold;
  background: red;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px auto;
  max-width: 1200px;
  gap: 40px;
}

.block-about {
  background: #D9D9D9;
}

.about-discription {
  margin: 72px 71px 0px 0px;
  max-width: 1300px;
  text-align: left;
  padding: 72px 71px 72px 80px;
}

.about-text {
  display: inline;
  font-size: 20px;
}

.about-subtitle {
  display: inline;
  font-size: 30px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 120px 170px 0 75px;
  margin-bottom: 70px;
}

.block-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.block-advantages {
  max-width: 55%;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 70px;
}

.advantages {
  list-style-type: disc;
  padding-left: 20px;
}

.third-subtitle {
  text-align: left;
  margin: 72px auto;
  border: 0px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 30px;
  font-weight: bold;
  background: red;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 50px;
}

.images-specialist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 160px 244px 90px 144px;
  width: 100%;
}

.form-container {
  max-width: 470px;
  text-align: center;
  padding: 250px 142px 0px 25px;
}

.form-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.form-group button:hover {
  background-color: darkorange;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Контейнер для чекбокса */
.checkbox-container {
  display: flex;
  align-items: center; /* Выровнять чекбокс и текст по вертикали */
  justify-content: flex-start; /* Выровнять по левому краю */
  margin-bottom: 20px;
}

.checkbox-container label {
  display: inline; /* Оставляем метку на одной линии с чекбоксом */
  margin: 0; /* Убираем любые дополнительные отступы */
}

footer {
  background-color: #D9D9D9;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.menu-container {
  text-align: center;
  flex: 1;
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-menu li {
  display: inline;
}

.footer-menu li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.copywriting {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.contacts-block {
  text-align: left;
}

.contacts-block p {
  margin: 0;
  font-size: 14px;
}

.open-popup-btn {
  background-color: red;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn-footer:hover {
  background-color: darkred;
}

.popup {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.popup-content {
  position: relative;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
  margin-top: 0;
  text-align: center;
}

.popup-form input[type=tel] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup-form input[type=submit] {
  width: 100%;
  padding: 10px;
  background-color: orange;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.popup-form input[type=submit]:hover {
  background-color: darkorange;
}

/* Кнопка закрытия */
.close-popup-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-popup-btn:hover {
  color: red;
}

@media screen and (max-width: 1200px) {
  nav.navbar ul {
    gap: 10px;
  }
  nav.navbar ul li a {
    font-size: 14px;
  }
  section.main .overlay .title {
    font-size: 36px;
  }
}
@media screen and (max-width: 992px) {
  nav.navbar ul {
    flex-wrap: wrap;
  }
  section.main .overlay .title {
    font-size: 32px;
  }
  section.main .overlay .text {
    font-size: 16px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  nav.navbar {
    flex-direction: column;
    align-items: center;
  }
  nav.navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  nav.navbar a.login {
    margin-top: 10px;
  }
  .cards-container {
    grid-template-columns: 1fr;
  }
  section.main .overlay .title {
    font-size: 28px;
  }
  section.main .overlay .text {
    font-size: 14px;
    padding: 0 20px;
  }
  section.second-block .block-about .content-wrapper {
    flex-direction: column;
  }
  section.second-block .block-about .content-wrapper .block-content,
  section.second-block .block-about .content-wrapper .block-advantages {
    width: 100%;
    text-align: center;
  }
  .form-container {
    padding: 20px;
  }
}
@media screen and (max-width: 576px) {
  nav.navbar a.logo img {
    width: 120px;
  }
  section.main .overlay .title {
    font-size: 24px;
  }
  section.main .overlay .text {
    font-size: 12px;
  }
  section.third-block .form-container {
    padding: 10px;
  }
  section.third-block .form-group input,
  section.third-block .form-group textarea {
    width: 100%;
    padding: 8px;
  }
}
@media screen and (max-width: 400px) {
  nav.navbar a.logo img {
    width: 100px;
  }
  section.main .overlay .title {
    font-size: 20px;
  }
  section.main .overlay .text {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */